<div class="container">
  <div class="form-container">
    <form (ngSubmit)="onLogin()">
      <mat-form-field>
        <mat-label> username </mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label> password </mat-label>
        <input type="password" matInput>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit"> log in </button>

      <div class="missing-creadentials-container">
        <a> forgot your password? </a>
      </div>
    </form>
  </div>
</div>
