<mat-toolbar>
    <img src="assets/images/logo/logo.png" alt="" style="width: 35px; height: 35px;">
    <span> Task Tracker </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon> notifications </mat-icon>
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon> person </mat-icon>
        <span> Andres </span>
    </button>
</mat-toolbar>

<mat-drawer-container class="side-nav-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button> -->
        <tt-navigation-bar [tabs]="tabs"></tt-navigation-bar>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button mat-icon-button (click)="drawer.toggle()" color="primary"
            aria-label="Example icon button with a home icon">
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
