<h2> My Projects </h2>

<!-- <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field> -->

<div class="mat-elevation-z8">
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="g-w-25"> Name </th>
            <td mat-cell *matCellDef="let row" class="g-w-25"> {{row.name}} </td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="g-w-40"> Description </th>
            <td mat-cell *matCellDef="let row" class="g-w-40"> {{row.description}} </td>
        </ng-container>

        <!-- Open Column -->
        <ng-container matColumnDef="open">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="g-w-10"> Open Tasks </th>
            <td mat-cell *matCellDef="let row" class="g-w-10"> {{row.metadata?.openTasks }} </td>
        </ng-container>

        <!-- Closed Column -->
        <ng-container matColumnDef="closed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="g-w-10"> Closed Tasks </th>
            <td mat-cell *matCellDef="let row" class="g-w-10"> {{row.metadata?.closedTasks }} </td>
        </ng-container>

        <!-- total Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="g-w-10"> Total Tasks </th>
            <td mat-cell *matCellDef="let row" class="g-w-10"> {{row.metadata?.totalTasks }} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no data. -->
        <tr class="no-data-row" *matNoDataRow>
            <td [attr.colspan]="getTableColumnCount()"> No data </td>
        </tr>

    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
